name: main_workflow

on:
  push:
    branches:
      - main  # Rama que va a utilitzar els jobs

permissions:
  contents: write

jobs: #Definim cada job y el sistema que utilitzar谩 amb els pasos
  Linter_job: #Chequea el codi y ens trau els errors que pot haver
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout codi
        uses: actions/checkout@v4  # #Clona el codi font per a poder trobar els errors

      - name: Configuraci贸 Node.js
        uses: actions/setup-node@v2  # Configurem nodejs
        with:
          node-version: '16'  

      - name: Install dependencies
        run: npm install  # Instala les dependencies

      - name: Run linter
        run: npm run lint || exit 1  # Ejecuta el linter y si hi ha error para
  Cypress_job:
    runs-on: ubuntu-latest
    needs: Linter_job
    steps:
      - name: Checkout codi
        uses: actions/checkout@v4

      - name: Configuraci贸 Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with: 
          config-file: cypress.json
          build: npm run build
          start: npm start
        continue-on-error: true
        id: cypress
      - name: crear result.txt
        run: echo ${{steps.cypress.outcome}} > result.txt

      - name: Crear artifact
        uses: actions/upload-artifact@v4
        with:
          name: cypress-results
          path: .   # Ruta al archivo
  
  Add_badge_job:  # Afegeix badge al README.md
    runs-on: ubuntu-latest
    needs: Cypress_job  # Dep猫n del resultat de Cypress
    steps:
      - name: Checkout codi
        uses: actions/checkout@v4

      - name: Obtenir artefacte de Cypress
        uses: actions/download-artifact@v4
        with:
          name: cypress-results  # Recuperem l'artefacte del job anterior

      - name: Generar output
        id: read-result
        run: echo "::set-output name=cypress_outcome::$(cat results.txt)"  # Genera un output

      - name: Actualitzar el README.md
        uses: ./.github/actions/update-readme-action  # Executa acci贸 pr貌pia
        with:
          outcome: ${{ steps.read-result.outputs.cypress_outcome }}

      - name: Push README.md
        uses: EndBug/add-and-commit@v9
        with: 
          add: "."
          author_name: "Jonathan Alcobendas"
          author_email: "jonathanAlcobendas@gmail.com"
          message: "Afegit badge al README.md"
          push: true 
  
  Deploy_job:
    runs-on: ubuntu-latest
    needs: Cypress_job  # Este job depende de Cypress_job
    continue-on-error: true

    steps:
      - name: Checkout codi
        uses: actions/checkout@v4  # Realiza el checkout del c贸digo

      - name: Deploy en Vercel
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}  # Token d'autenticaci贸
          vercel-args: "--prod"
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}  # ID de l'organitzaci贸 a Vercel
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}  # ID del projecte a Vercel

notification_job:
  name: Notificacio telegram
  needs: [linter_job, cypress_job, add_badge_job, deploy_job]
  runs-on: ubuntu-latest
  steps:
    - name: Checkout codi
      uses: actions/checkout@v3

    - name:enviar notificaci贸 telegram
      uses: ./.github/actions/telegram-action
      with:
        token: ${{ secrets.TELEGRAM_TOKEN }}
        chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
        message: |
           Resultat del workflow "nom_repositori_workflow":

          - **linter_job**: ${{ job.status == 'linter_job' && 'success' || 'failure' }}
          - **cypress_job**: ${{ job.status == 'cypress_job' && 'success' || 'failure' }}
          - **add_badge_job**: ${{ job.status == 'add_badge_job' && 'success' || 'failure' }}
          - **deploy_job**: ${{ job.status == 'deploy_job' && 'success' || 'failure' }}

       
